<app-carousel></app-carousel>
<section class="secciones">
    <div class="container text-center">
        <div class="row g-2">
            <div class="col-12">
                <h1 class="titulos">Productos destacados</h1>
            </div>
        </div>
        <!--Las cards no van mostradas aún porque necesito saber acceder de alguna forma a varias interfaces-->
        <div class="row g-2">
            <div class="col-6">
                <app-card-destacadas></app-card-destacadas>
            </div>
        </div>
        <app-tarjetas-publicitarias></app-tarjetas-publicitarias>
    </div>
</section>