<article>
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 text-align-center">
            <h2 class="featurette-heading fw-normal lh-1 letra-ataraxia">¡Disfruta de nuestras promociones semanales!</h2>
            <p class="lead">
                En Ataraxia nos preocupamos por mantener un aura sana, regala una giftcard para esa persona especial.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../../../assets/recursos/tg1.jpg" alt="promociones" width="300px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 letra-ataraxia">¡Durante todo el mes de julio!</h2>
            <p class="lead">Nuevas promociones de 2x1 en cristales energéticos, descuentos en sahumerios y con una compra mayor a $10000 te regalamos una guía de tarot.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="../../../../../assets/recursos/tg2.jpg" alt="promociones" width="300px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette ">
        <div class="col-md-7 text-align-center">
            <h2 class="featurette-heading fw-normal lh-1 letra-ataraxia">¡Gracias por confiar en nosotros!</h2>
            <p class="lead">
                Con la compra de 3 libros, te dejamos el 4to al 70% de descuento sólo por hoy.
            </p>
        </div>
        <div class="col-md-5">
            <img src="../../../../../assets/recursos/tg3.jpg" alt="promociones" width="300px">
        </div>
    </div>

    <hr class="featurette-divider">
</article>