/*PALETA DE COLORES 1 ROSAS
.color1 {color: #9d84c4;}
.color2 {color: #cc85b3;}
.color3 {color: #e2a8b4;}
.color4 {color: #e5cab8;}
.color5 {color: #e8e4bf;}
*/
/* PALETA DE COLORES 2 VERDES
.color1 {color: #17a992;}
.color2 {color: #1ab16c;}
.color3 {color: #8cd37b;}
.color4 {color: #dfe993;}
.color5 {color: #f6eea3;}
*/